<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>MoCA 蒙特利尔认知评估量表（Montreal Cognitive Assessment)</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>我们有时会用‘123......’或者汉语的‘甲乙丙......’来表示顺序。请您按照从数
字到汉字并逐渐升高的顺序画一条连线。从这里开始[指向数字(1)],从1连向甲,再连向2, 并一直连下去,到这里结束[指向汉字(戊)]</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string>Level_QMOCA_01.png</string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>当患者完全按照“1-甲-2-乙-3-丙-4-丁-5-戊”的顺序进行连线且没有任何交叉 线时给1分。当患者出现任何错误而没有立刻自我纠正时,给0分。</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>绘制立方体，请您照着这幅图再画一遍,并尽可能精确.</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string>Level_QMOCA_02.png</string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>完全符合时给1分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>请被测试者画一个钟表,填上所有的数字并指示出11点10分</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string></string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>请您告诉我这个动物的名字</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string>Level_QMOCA_04.png</string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string></string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>请您告诉我这个动物的名字</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string>Level_QMOCA_05.png</string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string></string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>请您告诉我这个动物的名字</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string>Level_QMOCA_06.png</string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string></string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>读出下列词语，由被测试者重复两次。</string>
		<key>QuestionDesc</key>
		<string>面孔、天鹅绒、教堂、菊花、红色</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>0</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>本题不计分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>读出下列词语（每秒一个），由被测试者重复。</string>
		<key>QuestionDesc</key>
		<string>顺背: 2、1、8、5、4； 倒背：7、4、2</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>2</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>顺背正确计一分，倒背正确计一分；</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>读出下列数字，当1出现时，要求被测试者敲击一下桌面。</string>
		<key>QuestionDesc</key>
		<string>5、2、1、3、9、4、1、1、8、0、6、2、1、5、1、9、4、5、1、1、1、4、1、9、0、5、1、1、2</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>完全正确计一分；错误大于或等于2个时不计分</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>100开始连续减7，减五次；</string>
		<key>QuestionDesc</key>
		<string>例如：93、86、79、72、65</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>4-5个正确计3分；2-3个正确计2分； 1个正确计1分；全部错误计0分；</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>重复下列两段句话：</string>
		<key>QuestionDesc</key>
		<string>(1)我只知道今天张亮是来帮过忙的人；(2)狗在房间的时候，猫总是躲在沙发下面；</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>2</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>全部正确计2分；任一句正确计1分；全部错误计0分；</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>流畅性：在一分钟内尽可能多的说出动物的名字</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>1</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>大于等于11个计1分；小于11个计0分；</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>词语相似性：(1)火车-自行车 (2)手表-尺子</string>
		<key>QuestionDesc</key>
		<string>例如：香蕉-桔子=水果</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>2</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>全部正确计2分；任一句正确计1分；全部错误计0分；</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>延迟回忆：要求回忆下列词语（不能提示）</string>
		<key>QuestionDesc</key>
		<string>面孔、天鹅绒、教堂、菊花、红色</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>全部正确计5分；任一词正确累计1分；全部错误计0分；</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>定向：请被测者回答下列问题</string>
		<key>QuestionDesc</key>
		<string>(1)日期 (2)月份 (3年份 (4)星期几 (5)地点 (6)城市</string>
		<key>QuestionImage</key>
		<string></string>
		<key>QuestionSection</key>
		<string></string>
		<key>QuestionRank</key>
		<integer>6</integer>
		<key>Answer</key>
		<integer>0</integer>
		<key>GradingPolicy</key>
		<string>全部正确计6分；任一词正确累计1分；全部错误计0分；</string>
	</dict>
</array>
</plist>
