<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>汉密尔顿抑郁量表（Hamilton Depression Scale，HAMD)</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>抑郁情绪</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>只在问到时才诉述；</string>
			<key>2</key>
			<string>在谈话中自发地表达</string>
			<key>3</key>
			<string>不用言语也可以从表情、姿势、声音或欲哭中流露出这种表情；</string>
			<key>4</key>
			<string>病人的自发言语和非言语表达（表情、动作），几乎完全表达为这种情绪;</string>
		</dict>
		<key>QuestionRank</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>罪恶感</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>责备自己，感到自己已连累他人；</string>
			<key>2</key>
			<string>认为自己犯了罪，或反复思考以往的过失和错误；</string>
			<key>3</key>
			<string>认为目前的疾病，是对自己错误的惩罚，或有罪恶妄想；</string>
			<key>4</key>
			<string>罪恶妄想伴有指责或威胁性幻觉;</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>自杀</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>觉得活着没有意义；</string>
			<key>2</key>
			<string>希望自己已经死去，或常想到与死有关的事；</string>
			<key>3</key>
			<string>消极观念（自杀念头）;</string>
			<key>4</key>
			<string>有严重自杀行为;</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>入睡困难</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>主诉有时有入睡困难，即上床后半小时仍不能入睡；</string>
			<key>2</key>
			<string>主诉每晚均有入睡困难。</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>睡眠不深</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>睡眠浅多恶梦；</string>
			<key>2</key>
			<string>半夜（晚上12点以前）曾醒来（不包括上厕所）;</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>早醒</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>有早醒，比平时早醒1小时，但能重新入睡；</string>
			<key>2</key>
			<string>早醒后无法重新入睡;</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>工作和兴趣</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>提问时才诉述；</string>
			<key>2</key>
			<string>自发地直接或间接表达对活动、工作或学习失去兴趣，如感到没精打采，犹豫不决，不能坚持或需强迫自己去工作或活动；
</string>
			<key>3</key>
			<string>病室劳动或娱乐不满3小时；</string>
			<key>4</key>
			<string>因目前的疾病而停止工作，住院患者不参加任何活动或者没有他人帮助便不能完成病室日常事务;</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>迟缓</string>
		<key>QuestionDesc</key>
		<string>指思维和语言缓慢，注意力难以集中，主动性减退。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>精神检查中发现轻度迟缓；</string>
			<key>2</key>
			<string>精神检查中发现明显迟缓；</string>
			<key>3</key>
			<string>精神检查进行困难；</string>
			<key>4</key>
			<string>完全不能回答问题（木僵）；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>激越</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>检查时表现的有些心神不定；</string>
			<key>2</key>
			<string>明显的心神不定或小动作多；</string>
			<key>3</key>
			<string>不能静坐，检查中曾站立；</string>
			<key>4</key>
			<string>搓手，咬手指，扯头发，咬嘴唇；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>精神性焦虑</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>问到才时诉述；</string>
			<key>2</key>
			<string>自发地表达；</string>
			<key>3</key>
			<string>表情和言谈流露明显忧虑；</string>
			<key>4</key>
			<string>明显惊恐；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>躯体性焦虑</string>
		<key>QuestionDesc</key>
		<string>指焦虑的生理症状，包括口干、腹胀、腹泻、打呃、腹绞痛、心悸、头痛、过度换气和叹息、以及尿频和出汗等。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>只有轻微的上述症状；</string>
			<key>2</key>
			<string>有肯定的上述症状；</string>
			<key>3</key>
			<string>上述症状严重，影响生活或需加处理；</string>
			<key>4</key>
			<string>严重影响生活和活动；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>胃肠道症状</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>食欲减退，但不需他人鼓励便自行进食；</string>
			<key>2</key>
			<string>进食需他人催促或请求或需要应用泻药或助消化药。</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>全身症状</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>四肢、背部或颈部沉重感，背痛，头痛，肌肉疼痛，全身乏力或疲倦；</string>
			<key>2</key>
			<string>上述症状明显；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>性症状</string>
		<key>QuestionDesc</key>
		<string>指性欲减退、月经紊乱等。</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>不能肯定，或该项对被评者不适合；</string>
			<key>1</key>
			<string>症状不明显；</string>
			<key>2</key>
			<string>症状严重；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>疑病</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>5</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>对身体过分关注；</string>
			<key>2</key>
			<string>反复考虑健康问题；</string>
			<key>3</key>
			<string>有疑病妄想；</string>
			<key>4</key>
			<string>伴幻觉的疑病妄想；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>体重减轻</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>无</string>
			<key>1</key>
			<string>一周内体重减轻1斤以上；</string>
			<key>2</key>
			<string>一周内体重减轻2斤以上；</string>
		</dict>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>自知力</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>QuestionRank</key>
		<integer>3</integer>
		<key>QuestionRankDesc</key>
		<dict>
			<key>0</key>
			<string>知道自已有病，表现为忧郁；</string>
			<key>1</key>
			<string>知道自己有病，但归于伙食太差、环境问题、工作过忙、病毒感染或需要休息等；</string>
			<key>2</key>
			<string>完全否认有病；</string>
		</dict>
	</dict>
</array>
</plist>
