<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>痴呆初期征兆观察列表(OLD)</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>总是忘记日期</string>
		<key>QuestionDesc</key>
		<string>记忆障碍，健忘</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>经常忘记短时间内的事</string>
		<key>QuestionDesc</key>
		<string>记忆障碍，健忘</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>不能重复最近听到的事或信息（例如最近的检查结果等)</string>
		<key>QuestionDesc</key>
		<string>记忆障碍，健忘</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>经常无意识的重复说过的话</string>
		<key>QuestionDesc</key>
		<string>谈话中词语和内容的重复</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>总是在谈话中重复讲述同一件事</string>
		<key>QuestionDesc</key>
		<string>谈话中词语和内容的重复</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>经常想不起来特定的词语及语句</string>
		<key>QuestionDesc</key>
		<string>谈话的组织能务与逻辑理解力下降</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>说话很快就没有了中心（例如话题经常转换）</string>
		<key>QuestionDesc</key>
		<string>谈话的组织能务与逻辑理解力下降</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>回答显示其实并没有理解问题</string>
		<key>QuestionDesc</key>
		<string>谈话的组织能务与逻辑理解力下降</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>对话内容变得难以理解</string>
		<key>QuestionDesc</key>
		<string>谈话的组织能务与逻辑理解力下降</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>没有时间观念</string>
		<key>QuestionDesc</key>
		<string>定向力障碍、编造故事、依赖等</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>制造借口（被指出回答有错误时试图虚构）</string>
		<key>QuestionDesc</key>
		<string>定向力障碍、编造故事、依赖等</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>存在依赖家人的现象（向本人提问后，转向家人求助等)</string>
		<key>QuestionDesc</key>
		<string>定向力障碍、编造故事、依赖等</string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
