<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>日常生活能力量表（Activity of Daily Living, ADL)</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>自已搭公共车辆（知道乘哪一路车，并能独自前往）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>到家附近的地方去（在可以步行的范围内活动）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>自已做饭（包括生火)</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>做家务（扫地、擦桌子等）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>服药（能记住按时服药，并能正确服药）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>吃饭</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>穿衣服，脱衣服</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>洗漱（梳头、刷牙等 ）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>洗自已的衣服</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>在平坦的室内行走</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>大小便控制</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>上下床，坐下或站起</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>较重的家务（拖地、擦窗，搬东西等）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>洗澡（水已放好）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>剪脚趾甲</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>逛街、购物</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>定时去厕所</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>打电话</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>处理自已钱财</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>独自在家（能独自在家一天）</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
