<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>AD8量表测试</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>判断力有困难？</string>
		<key>QuestionDesc</key>
		<string>例如，当您在做决定时存在困难，错误的财务决定，思考障碍等</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_01.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>对业余爱好，活动的兴趣下降</string>
		<key>QuestionDesc</key>
		<string>例如，以前喜欢下棋，现在变得没有兴趣了</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_02.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>反复重复相同的事情</string>
		<key>QuestionDesc</key>
		<string>例如：经常总是在问相同的问题，重复讲同一个故事或者同一句话。</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_03.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>学习使用工具等存在困难</string>
		<key>QuestionDesc</key>
		<string>例如：使用微波炉等简单的日常工具或家用电器、器具有困难</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_04.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>忘记正确的年份和月份</string>
		<key>QuestionDesc</key>
		<string>例如：搞不清当前的日期时间等。</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_05.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>处得复杂的财务问题存在困难</string>
		<key>QuestionDesc</key>
		<string>例如：忘了如何对账，忘记如何交付水、电、煤气账单等</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_06.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>记住约定的时间有困难</string>
		<key>QuestionDesc</key>
		<string>例如：与朋友约好在星期天去公园，在约定日期当天，却没有想起来。</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_07.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>每天都出现思考和（或）记忆方面的问题</string>
		<key>QuestionDesc</key>
		<string>例如：不记得最近来家里拜访的客人等</string>
		<key>QuestionImage</key>
		<string>Level_QAD8_08.png</string>
		<key>Answer</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
