<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LevelTitle</key>
		<string>哈金斯基缺血量表（Hachinski Ischemic Scale, HIS)</string>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>急性起病</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>2</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>阶梯性恶化</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>波动性病程</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>2</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>夜间谵妄</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>人格保持良好</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>抑郁</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>诉说躯体症状</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>情绪不稳定</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>既往有高血压史</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>中风史</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>2</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>合并动脉硬化</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>1</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>神经系统局灶性症状</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>2</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>QuestionTitle</key>
		<string>神经系统局灶性体征</string>
		<key>QuestionDesc</key>
		<string></string>
		<key>QuestionImage</key>
		<string></string>
		<key>Answer</key>
		<integer>0</integer>
		<key>SelectYesValue</key>
		<integer>2</integer>
		<key>SelectNoValue</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
